FEISHU_APP_ID=""
FEISHU_APP_SECRET=""
FEISHU_KANBAN_RAW_URL=""
FEISHU_KANBAN_RULES_URL=""
FEISHU_KANBAN_MANUAL_URL=""
FEISHU_KANBAN_REVIEW_URL=""
FEISHU_KANBAN_REFERENCE_URL=""
FEISHU_KANBAN_WRITEBACK="true"
FEISHU_KANBAN_MANUAL_SYNC="true"
PORT="4173"
